@charset "utf-8" ;
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
$greenFc:#60ae2b;
$ivory:#f3f3f0;
$dark:#333;
$text:#4c4c4c;

/****** 리셋 ******/
*{
	margin:0; 
	padding:0;
}
*,*:after,*:before{/* 반응형 */ 
	box-sizing:border-box;
}
ul, li, dt, dd{
	list-style:none;
}
li img, dd img{
	vertical-align:middle;
}
img{
	max-width:100%;
	border:none;
	vertical-align:middle;
}
address{
	font-style:normal;
}
input[type=button]{
	cursor:pointer;
}
caption{
	width:0;
	height:0;
	text-indent:-9999px; 
	font-size:1px;
	overflow:hidden;
	visibility:hidden;
}
table {
	border-collapse:collapse; 
	border-spacing:0; 
	width:100%; 
}
.blind, legend{
	position:absolute;
	left:-9999px;
}
fieldset{
	border:0 none;
}
.clearFix:after{
	content:"";
	display:block;
	clear:both;
}
.clearFix{
	*zoom:1;
}
*,*:after,*:before{box-sizing:border-box;}
h1,h2,h3,h4,h5,h6,strong {
	font-weight:normal;
	font-size:100%; 
}
body{
	font:14px/1.4 'Nanum Gothic', 'arial', sans-serif; 
	color:#999;
}
a{
	color:#999;
	text-decoration:none;
}




/***** body *****/

.wrap{
	width:100%;
	overflow:hidden;

	background:url(../images/common/bodyBg.jpg) 0 0 repeat;
}

.wrapHeader{
	width:100%;

}

#header{
	position:relative;
	max-width:980px;
	height:95px;
	margin:0 auto;

}

.logo{
	width:250px;
	position:absolute;
	top:21px;
	left:50%;
	z-index:10;
	margin-left:-125px;
}
	
.wrapSearch{
	width:170px;
	height:59px;
	position:absolute;
	top:-1px;
	right:0;

	form{
		display:none;
		width:100%;
		height:42px;
		background-color:#ccc;
		border-radius:3px;
		padding:12px 7px;
		p{
			width:160px;
			height:23px;

			input[type=search]{
				width:126px;
				height:20px;
				border:0 none;
				border-radius:3px;
				background-color:$ivory;
				padding-left:8px;

			}
			a{
				padding-left:5px;
				color:$greenFc;

			}
		}
	}
	> p{
		width:100%;
		text-align:center;
		> a{
			display:block;
			width:30px;
			height:16px;
			margin:0 auto;
			background:url(../images/common/headerSearch.png) 0 0 no-repeat;
		}
	}
}


.gnb{
	width:100%;
	margin:0 auto;
	padding:39px 5%  0;

	ul{
		li{
			float:left;
			width:15.5%;
			a{
				width:50px;
				margin:0 auto;
				display:block;
				color:$greenFc;
				font-size:1.1em;
				text-align:center;
				vertical-align:middle;

			}
			&:first-child+li{
				margin-right:19%;
			}
			&:first-child+li+li{
				margin-left:19%;
			}
			&:first-child+li+li+li{
			}
		}
	}
}



.wrapCon{
	width:100%;
}

.wrapVisaul_1{
	width:100%;
	max-height:400px;
	background-color:$greenFc;
}
.visual_1{
	position:relative;
	max-width:1060px;
	height:100%;
	margin:0 auto;
	.autoSlide{
		width:100%;
		max-height:400px;
		overflow:hidden;
	}
}

.visual_1 .autoSlide{
	li{
		.textVis1{
			position:absolute;
			bottom:5%;
			left:0;
			max-width:400px;
			background-color:#000;
			opacity:0.7;
			padding:3% 4%;

			p{
				font-size:0.9em;
				color:#fff;
				text-transform: uppercase;

				&:first-child+p+p{
					padding-top:10px;
					color:$greenFc;
					font-size:0.9em;
				}		
			}
		}
	}
	.bx-controls{
		position:absolute;
		top:90%;
		left:80%;
			
		.bx-pager{		
			display:inline-block;

			.bx-pager-item{
				display:inline-block;
				.bx-pager-link{
					text-indent:-9999px;
					width:9px;
					height:9px;
					display:block;
				
					margin:0 3px;
					background:url(../images/common/slideDot.png) 0 0 no-repeat;

					&.active{
						background-position:-9px 0;
					}
				}

			}
		}
		.bx-controls-auto{
			display:inline-block;

			.bx-controls-auto-item{		
				>a{
					width:9px;
					height:9px;
					display:block;
					text-indent:-9999px;
					background:url(../images/common/slideDot.png) -28px 0 no-repeat;

					&.bx-stop{
						background-position: -18px 0;
					}
					&.active{
						display:none;
					}
				}
			}
		}
	}
	
}

.wrapArticle_1{
	font-size:0.95em;
}
.article_1{
		line-height:1.8;
		max-width:980px;
		margin:0 auto;
}
.art_1_1{
	float:left;
	padding:40px 20px 0;

	h4{
		padding-left:5px;
		font-size:1.8em;
		margin-bottom:13px;
		color:$dark;
	}
	div > p{
		color:$text;
		&:first-child{
			margin-bottom:10px;
		}
	}
}
.art_1_2{
	height:310px;
	float:left;
	padding:7% 5% 0;

	img{
		width:50%;
		float:left;			
	}

	> div{
		padding:8% 3%;
		width:50%;
		float:right;

		p{
			font-size:1.1em;
			line-height:1.8;
			text-align:center;
			
			&:first-child{
				color:$greenFc;
				margin-bottom:10px;
			}
		}
	}
}


.art_1_3, .art_1_4, .art_1_5{
	position:relative;
	padding:4.5% 3.3%;
	float:left;
	height:630px;

	p{
		padding:9% 0;
		color:$text;

		&:first-child{
			padding:0;
			color:$greenFc;
			text-align:center;
			font-size:1.5em;
			max-width:100%;
			line-height:45px;
			border:2.5px solid $greenFc;
			border-radius:2px;
		}

		img{
			position:absolute;
			bottom:64px;
			left:50%;
			margin-left:-112px;
			text-align:center;
			
		}
	}	
}

.art_1_4{
	p{
		padding:2.8% 0;
		color:$text;

		span{
			color:$greenFc;
			display:block;
		}

		&:first-child+p{
			padding-top:9%;
		}
	}
}

.wrapVisaul_2{
	width:100%;
	max-height:300px;
	background:url(../images/common/vis_bg.jpg) 0 0 repeat-x;
}
.visual_2{
	position:relative;
	max-width:980px;
	margin:0 auto;

	p{
		position:absolute;
		margin-top:-30px;
		top:50%;
		left:0;
		height:60px;
		width:31px;
		background:url(../images/common/visualBtn.png) 0 -120px no-repeat;

		&:first-child + p {
			top:50%;
			left:100%;
			margin-left:-31px;
			background-position:0 0;
		}

		input[type=button]{	
			text-indent:-9999px;
			background:none;
			border:none;
		}
	}
}

.article_2{
		color:$text;
		padding:40px 20px;
		max-width:980px;
		margin:0 auto;

	h4{
		color:$dark;
		font-size:1.8em;
	}
	div{
		line-height:1.8;
		float:left;
		padding:21px 35px;
	}
	.wraptxt{
		font-size:0.95em;
		padding:30px 30px;
		p:first-child{
			padding-bottom:10px;
			font-size:1.3em;
			+p+p{
				color:$greenFc;
			}
		}
		.wrapIcon{
			padding:20px 30px 0;
			width:100%;
			ul{
				overflow:hidden;
				li{
					float:left;
					width:50%;
					text-align:center;
				}	
			}
		}
	}
}

.wrapVisual_3{
	width:100%;
	max-height:300px;
	background:url(../images/common/vis_bg.jpg) 0 0 repeat-x;
}
.visual_3{
	position:relative;
	max-width:980px;
	max-height:100%;
	margin:0 auto;
	.snsWrap{
		ul{
			overflow:hidden;
			li{
				width:33.3333%;
				max-height:300px;

				float:left;
			}
		}
	}
}

.article_3{
	max-width:980px;
	margin:0 auto;
	padding:40px 20px;
	color:$text;
	line-height:1.8;
	
	h4{
		font-size:1.8em;
		color:$dark;
		margin-bottom:13px;
	}
	div{
		font-size:0.95em;
		width:33.3333%;
		float:left;
		padding:48px 7%;
		dl{
			dt{
				text-align:center;
				span{
					display:block;
					color:$greenFc;
					padding:10px;
					font-size:1em;
					
				}
			}
			dd{
				text-align:center;
				font-size:0.98em;
				
			}
		}
	}
}






.wrapFooter{
	width:100%;
	background-color:#1d1d1d;

}
#footer{
	font-size:0.98em;
	max-width:980px;
	margin:0 auto;
	padding:50px 20px 20px;

	.f_logo{
	margin-top:45px;
		text-align:center;
	}
	address{
		text-align:center;
		font-size:0.8em;
	}
}
.siteMap{
	text-align:center;
	>ul>li{
		float:left;
		width:16.666%;
		color:#fff;
		text-align:center;
		font-size:1.1em;
		line-height:1.8;
		ul>li{
			line-height:1.5;
			>a{
				font-size:0.8em;
				ext-align:center;
			}
		}
	}
}
.btnTop>a{
	display:block;
	position:fixed;
	right:20px;
	bottom:200px;
	width:42px;
	height:42px;
	font-size:0.6em;
	color:#999;
	background:url(../images/common/arrow.png) 0 -87px no-repeat;
	span{
		display:block;
		padding-top:44px;
		text-align:center;
	}
}


/***  @media (min-width:769px){ }  ***/
	.col-pc-1{width:8.333%;}
	.col-pc-2{width:16.666%;}
	.col-pc-3{width:25%;}
	.col-pc-4{width:33.332%;}
	.col-pc-5{width:41.666%;}
	.col-pc-6{width:50%;}
	.col-pc-7{width:58.333%;}
	.col-pc-8{width:66.666%;}
	.col-pc-9{width:75%;}
	.col-pc-10{width:83.333%;}
	.col-pc-11{width:91.666%;}
	.col-pc-12{width:100%;}



@media (max-width:768px){ 
	.col-tablet-1{width:8.333%;}
	.col-tablet-2{width:16.666%;}
	.col-tablet-3{width:25%;}
	.col-tablet-4{width:33.333%;}
	.col-tablet-5{width:41.666%;}
	.col-tablet-6{width:50%;}
	.col-tablet-7{width:58.333%;}
	.col-tablet-8{width:66.666%;}
	.col-tablet-9{width:75%;}
	.col-tablet-10{width:83.333%;}
	.col-tablet-11{width:91.666%;}
	.col-tablet-12{width:100%;}

	body{font-size:16px;}
	#header{
		height:120px;
		padding-top:15px;
	}

	.logo{
		position:static;
		z-index:0;
		margin:0 auto;
	}
	.gnb {
		padding: 15px;
		ul{
			li{
				width:25%;
				margin:0 auto;

				&:first-child+li{
					margin-right:0;
				}
				&:first-child+li+li{
					margin-left:0;
				}
			}
		}
	}
	
	.visual_1 .autoSlide ul > li > .textVis1{
		max-width:300px;
		p:first-child{
			display:none;
		}
	}


	.article_1{
		height:auto;
	}
	.art_1_1{
		padding:40px 10%;
		float:none;
	}
	.art_1_2{
		padding:8% 22%;
		float:none;
	}
	.art_1_3, .art_1_5{
		float:none;
		height:auto;
		padding:5% 10%;

		p:first-child+p+p{
			text-align:center;

			img{	
				position:static;
				margin:0;
			}
		}
	}
	.art_1_4{
		float:none;
		height:auto;
		padding:5% 10%;
	}


	.visual_2{
		.imgWrap{
			width:100%;
			overflow-x:scroll;

			img{
				max-width:665px;
				min-height:200px;
			}
		}
	}

	.article_2{
		padding: 40px 10%;

		> h4{			
			+ div{
				width:70%;
				margin:5% 15%;
			}
		}
		
	}
	.siteMap{
		>ul>li{
			width:33.3333%;
			height:130px;
		}	
	}
	.btnTop>a{
		display:none;
	}

}


@media all and (max-width:480px) {

	.col-mobile-1{width:8.333%;}
	.col-mobile-2{width:16.666%;}
	.col-mobile-3{width:25%;}
	.col-mobile-4{width:33.333%;}
	.col-mobile-5{width:41.666%;}
	.col-mobile-6{width:50%;}
	.col-mobile-7{width:58.333%;}
	.col-mobile-8{width:66.666%;}
	.col-mobile-9{width:75%;}
	.col-mobile-10{width:83.333%;}
	.col-mobile-11{width:91.666%;}
	.col-mobile-12{width:100%;}
	
	body{font-size:15px;}
	.art_1_2{
		padding:8% 10% 0;
		float:none;
	}
	.visual_1 .autoSlide ul > li > .textVis1{
		max-width:200px;
		font-size:0.8em;
		p:first-child, p:first-child+p{
			display:none;
			+p{
				padding-top:0;
			}
		}
	}

	.article_2{
		> h4 + div{
			width:100%;
			margin:5% 0;
		}
		.wraptxt >.wrapIcon>ul>li{
			float:none;
			width:100%;
			padding:5%;
		}
	}
	.article_3{
		div{
			float:none;
			width:100%;
			padding:45px 4%;
			dl{
				dt{
					float:left;
					width:50%;
				}

				dd{
					float:left;
					width:50%;
				}
			}
		}
	}
	.siteMap{
		font-size:0.9em;		
	}
}

