@import "base.scss";
.wrapLnb{
	max-width:980px;
	height:55px;
	line-height:55px;
	margin:0 auto;
	border-bottom:1px solid $bd;
}
.lnb{
	width:240px;
	margin:0 auto;
	
	ul{
		
		
		li{
			float:left;
			width:120px;
			margin:0 auto;
			
			a{
				display:block;
				text-align:center;
				color:$text;
				font-size:0.98em;
				&:hover{
					color:$hText;
				}
				
			}
		}
	}
}
.wrapSymbol{
	max-width:980px;
	margin:0 auto;
	padding:40px 5%;
	h4 p{
		color:$dark;
		font-size:1.7em;
		margin-bottom:40px;
		font-weight:bold;
	}
	h4 + p{
			padding-top:30px;
	}

}
.introText{
	padding:40px 5%;
	.art_1_1{
		padding-left:0;
	}
	.art_1_2{
		padding-right:0;
	}
}
.art_1_1{
	h4{
		color:$dark;
		font-weight:bold;
	}
}
.textSymbol{
	color:$text;
	line-height:1.8;
	font-size:0.95em;
	h5{
		padding:50px 0 20px;
		color:$dark;
		font-weight:bold;
		font-size:1.1em;
	}
	span{
		color:$greenFc;
	}

}
.art_1_1>h4:first-child{
	display:none;
}
#ourstory{display:block;}