@charset "utf-8" ;
@import "base.scss";
strong{
	color:$greenFc;
}

.wrapSubVis_1{
	width:100%;
	max-height:300px;
	background-color:$greenFc;
}
.subVis_1{
	position:relative;
	max-width:980px;
	margin:0 auto;
}

/*lnb기본틀은 common.scss*/
.lnb{
		max-width:360px;
	>ul>li{
		width:120px;
		margin:0 auto;
	}
}

.joinState{
	p{
		width:61px;
		height:10px;
		overflow:hidden;
		margin:40px auto 0;
		span{
			display:block;
			float:left;
			width:10px;
			height:10px;
			padding:18px 0;
			margin:0 5px;
			font-size:1px;
			background:url(../images/common/slideDot.png) -32px 0 no-repeat;
			
			&.on{
				background-position-x: -21px;
			}
		}
	}
}
.member{
	max-width:980px;
	margin:0 auto;
	padding:40px 5%;
	
}

.textForm{
	height:120px;
	background-color:$greenFc;
	color:#fff;
	width:100%;
	padding-top:30px;
	margin-bottom:5px;
	font-size:1.5em;
	box-shadow:inset 0 0 10px $text;
	.wrap{
		background:url(../images/sub/join.png) 0 0 repeat-x;
		height:65px;
	}
	p{
		text-align:center;
		margin-bottom:3px;
		text-shadow: 0 0 5px $text;
	}
}

.wrapForm{
	max-width:700px;
	margin:0 auto;

	form{
		border:5px solid $greenFc;
		padding:40px 5%;
		background-color:#fff;
		
	}
	.wrapAgree{
		.agree_1, .agree_2{
			width:100%;
			height:240px;
			overflow:hidden;
			border:1px solid $bd;
			position:relative;
			margin:40px auto 30px;
			h4{
				border-bottom:1px solid $bd;		
				height:40px;
				width:100%;
				padding:8px 15px;
				font-size:1.1em;
				color:$text;
			}
			.articleAgree{
				overflow-y:scroll;
				padding:10px 15px;
				height:200px;
				font-size:0.8em;

				span{
					margin:5px 0;
					display:block;
				}
				p{
					text-indent:10px;
					margin-bottom:10px;
				}
			}
			.agreeChk{
				label{
					width:30px;
					height:30px;
					display:block;
					position:absolute;
					text-indent:-9999px;
					top:1px;
					right:15px;
					background:url(../images/common/chk_both.png) 0 0 no-repeat ; 

					&:hover, &:focus, &.on{
						background-position-y:-30px;
					}
				}
				input[type="checkbox"]{
					position:absolute;
					left:-9999px;
					&:checked+label{
						background-position-y:-30px;
					}
				}
			}
		}
	}
}

.join>.wrapBtn{
	border-top:1px solid $bd;
	margin-top:30px;
	p{
		margin-top:60px;
		text-align:center;

		input[type="submit"]{
			border:none;
			width:170px;
			height:70px;
			background-color:$greenFc;
			color:#fff;
			font-size:1.5em;
			border-radius:2px;
		}
		input[type="button"]{
			border:none;
			width:170px;
			height:70px;
			background-color:$hText;
			color:#fff;
			font-size:1.2em;
			border-radius:2px;
		}
	}
}

@media (max-width:768px){ 
	.textForm{
		font-size:1.1em;
	}
}

@media all and (max-width:480px){
	.lnb{
		max-width:360px;
		>ul{
			width:100%;
			li{
				width:33.33%;
	
			}
		}
	}
	.wrapForm form{
		padding:0 5% 40px 5%;
		
	}
	.textForm{
		font-size:1.1em;
		padding-top:25px;
		.wrap{
				height:69px;
				background-position-y:10px;
				
		}
	}
	.wrapForm .wrapAgree .agree_1, .wrapForm .wrapAgree .agree_2{
		h4{
			font-size:1em;
			padding-left:8px;
			span{
				display:none;
			}
		}	
	}
	.wrapForm{
		.join>.wrapBtn{
			p{
				margin-top:30px;
				input[type="submit"],input[type="button"]{
					width:130px;
					height:50px;
					font-size:1.1em;
				}
			}
		}
	}
}


