@charset "utf-8" ;
@import "base.scss";

#container{
	background-color:$greenFc;
}
.wrapLnb{
	border-bottom:none;
}
.lnb{
		width:360px;
	>ul>li{
		width:120px;
		margin:0 auto;
		a{
			color:#fff;
			&:hover{
				color:$hGreen;
			}
		}
	}
}

.wrapLogin{
	width:100%;
	height:100%;
	margin-bottom:-356px;
	margin:0 auto;
	background:url(../images/sub/loginBg.jpg) 0 0 no-repeat;
}
.textLogin{
	color:#fff;
	font-size:1.8em;
	font-weight:bold;
	text-shadow:0 0 15px $text;
	text-align:center;
	padding:50px 0 30px;

}
.wrapForm{
	background-color:#fff;
	max-width:570px;
	height:470px;
	margin:0 auto 70px;
	border:1px solid #ddd;
	border-radius:3px;
}
.textForm{
	font-size:1.4em;
	color:$text;
	padding:30px 5px;
	border-bottom:1px solid $bd;
	margin-bottom:35px;
	p{
		text-align:center;
	}
	span{
		color:$greenFc;
	}
}





table{
	tr{
		width:100%;
		font-size:1em;
		color:$hText;
		

		td{
			
			label{
				display:block;
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:37px;
				line-height:37px;
				text-align:left;
				padding-left:10px;
			}
			
			input[type=text],input[type=password]{
				width:100%;
				height:37px;
				border:1px solid $bd;
				border-radius:3px;
				padding-left:10px;
				margin-bottom:15px;
	
			}
			input[type=password]{
				margin-bottom:30px;
			}
			p{
				text-align:center;
				position:relative;
				width:90%;
				margin:0 auto;
			}

		}
		&:first-child+tr+tr{
			td>p{
				width:90%;
				margin:0 auto;
				text-align:left;
				height:32px;
				label{
					left:35px;
					height:32px;
					line-height:32px;
					
				}
			}
		}
		&:first-child+tr+tr+tr+tr{
			td>p{
				width:90%;
				margin:0 auto;
				text-align:left;
			}
		}
		.loginBtn{
			p{
				margin-top:10px;
				width:90%;
				text-align:center;

				input[type="submit"]{
					border:none;
					width:100%;
					height:43px;
					background-color:$greenFc;
					color:#fff;
					font-size:1.1em;
					border-radius:2px;
					margin-bottom:30px;
					&:hover{color:$hGreen;}
				}
		
			}
		}
		
	}
	.textLog{
		p{
			color:$greenFc;
			font-size:0.9em;
			letter-spacing:1px;
			
		}
	
	}
	
}

