@charset "utf-8";
@import "base";
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */

@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?95484776');
      src: url('./font/fontello.eot?95484776#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?95484776') format('woff'),
           url('./font/fontello.ttf?95484776') format('truetype'),
           url('./font/fontello.svg?95484776#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}
     

*[class*="icoF_"]:after, *[class*="icoF_"]:before{
	font-family:'fontello';
	font-size:18px;
}
    


*{margin:0; padding:0;}
*,
*:after,
*:before{
	box-sizing:border-box;
}
html{
	overflow-y:scroll;
	}
html,body{
	height:100%;
	}
li{
	list-style:none;
}
img{
	max-width:100%; 
	border:none;
	vertical-align:middle;
}
fieldset{
	border:none;
}
body,input,select,textarea{
	font:13px/1.3 'Nanum Gothic', 'Malgun Gothic','맑은 고딕', 'gulim', '굴림', sans-serif;
	color:$baseFc_1;
}
a{
	color:$baseFc_1;
	text-decoration:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
h1,h2,h3,h4,h5,h6,strong{
	font-size:100%;
	font-weight:normal;
}
legend,hr,.blind{
	position:absolute;
	left:-9999px;
}
caption{
	text-indent:-9999px;
	width:0;
	height:0;
	font-size:1px;
	overflow:hidden;
	visibility:hidden;
}
button, 
input[type="button"], 
input[type="submit"], 
input[type="text"]{
	cursor:pointer;
}

.grid .row:after{
	content:"";
	display:block; 
	clear:both;
}
.grid .row{
	*zoom:1;
}
.grid .row *[class^="col-"]{
	float:left;
}
.grid .row .col{
	margin:0 14px;
}
.clearFix:after{
	content:"";
	display:block;
	clear:both;
}
.clearFix{
	*zoom:1;
}

body{min-width:1024px\9;}

#wrap{
	max-width:920px;
	min-height:100%;
	margin:0 auto;
}

#header{
	height:100px;
	position:relative;
	
}
.icoF_btnShowGnb{
	height:45px;
	width:45px;
	background:#888;
	border:none;
	border-radius:3px;
	position:absolute;
	top:20px;
	right:10px;
	display:none;
	&:after{
	color:#fff;
	font-size:20px;
	content:"\e802";}
}
#gnb{
	position:absolute;
	top:40px; right:0;
	>ul{
		>li{
			float:left;
			margin-left:40px;
			&:first-child{
				margin:0;
			}									
		}
		>li > a{
			display:block;
			width:79px;
			height:44px;
			background:pink url(url_c("menu_01.gif")) 0 0 no-repeat;
			text-indent:-9999px;
			&:hover, &:focus{
				background-position:0 -44px;
			}
		}
		>.gnbMain_2 > a{
			background-image:url(url_c("menu_02.gif"));
		}
		> .gnbMain_3 > a{
			background-image:url(url_c("menu_03.gif"));
		}
		> .gnbMain_4 > a{
			background-image:url(url_c("menu_04.gif"));
		}
		> .gnbMain_5 > a{
			background-image:url(url_c("menu_05.gif"));
		}
		ul{
			display:none;
			position:absolute;
			left:0;
			top:48px;
			li{
				float:left;
				margin-left:20px;
				&:first-child{
					margin:0;
				}
			}
		}
		> li:first-child{
			> ul{
				display:block;
			}
			+ li ul{
				left:125px;
			}
			+ li + li ul{
				left:175px;
			}
			+ li + li + li ul{
				left:375px;
			}
			+ li + li + li + li ul{
				left:320px;
			}
		}
	
	}
}
.utilmenu{
	position:absolute;
	top:0;right:0;
	padding-right:15px;
	background:url(url_c("bg_m_t_r.gif")) right 0 no-repeat;
	li{
		float:left;
		line-height:13px;
		height:17px;
		padding-left:10px;
		background:url(url_c("bg_m_t_line.gif")) 0 4px no-repeat;
		margin-left:9px;
		&:first-child{
			margin:0px;
			background:url(url_c("bg_m_t_l.gif")) 0 0 no-repeat;
			padding-left:18px;
		}
	}
}
#container{
	padding:40px 0 126px 0;
	min-height:250px;
}
#footerWrap{
	background-color:$baseFooterC_1;
	margin-top:-86px;
}
#footer{
	height:86px;
	width:920px;
	margin:0 auto;
	position:relative;
	.footerLogo{
		position:absolute;
		left:0;
		top:0;
	}
}
.footerLogo + div{
	padding:10px 0 0 270px;
}
.bottomMenu{
	margin-bottom:8px;
	li{
		float:left;
		padding-left:21px;
		background:url(url_c("f.gif")) 0 0 no-repeat;
		&:first-child{
			padding:0;
			background:none;
		}
	}
}



.col-pc-1{width:8.3333%;}
.col-pc-2{width:(8.3333*2)+%;}
.col-pc-3{width:(8.3333*3)+%;}
.col-pc-4{width:(8.3333*4)+%;}
.col-pc-5{width:(8.3333*5)+%;}
.col-pc-6{width:(8.3333*6)+%;}
.col-pc-7{width:(8.3333*7)+%;}
.col-pc-8{width:(8.3333*8)+%;}
.col-pc-9{width:(8.3333*9)+%;}
.col-pc-10{width:(8.3333*10)+%;}
.col-pc-11{width:(8.3333*11)+%;}
.col-pc-12{width:100%;}
*[class*="mobile_"]{display:none;}


/*서브페이지 영역*/
.wrap{
		background:#edf4ed;
}
#container.subPage{
	background:#edf4ed;
	padding-left:10px;
	padding-right:10px;
	.subLeft{
		width:22.2222%;
		float:left;
		background-color:white;
		.lnbWrap{
			>h2{
				color:#3b6d78;
				font-size:1.5em;
				font-weight:bold;
				text-align:center;
				padding:5px;
			}

			>ul>li a{
				display:block;
				padding:10px 7px;
				border-top:1px solid #ddd;
				position:relative;

				&.on{
					background:#3b6d78;
					color:#fff;
					&.on:after{
					position:absolute;
					right:10px;
					top:5px;
					color:#fff;
					font-size:20px;
					content:"\e800";
					text-align:right;
					}
				}
			}	
		}
	}
	.subRight{
		position:relative;
		background-color:#fff;
		width:76.6667%;
		float:right;
		margin-left:1.1111%;
		border:1px solid #ddd;
		padding:0 10px;
		.subTitle_1{
			padding:10px 5px;
			font-size:1.38em;
			font-weight:bold;
			border-bottom:1px solid #ddd;
			margin:0 -10px 10px ;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,dbdbdb+100 */
				background: #fcfcfc; /* Old browsers */
				background: -moz-linear-gradient(top,  #fcfcfc 0%, #dbdbdb 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #fcfcfc 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #fcfcfc 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
		}
		.pagePos{
			position:absolute;	
			right:15px;
			top:15px;

			a:first-child:before{
				content:"\e813";
				font-size:0.9em;
				margin-right:5px;
			}
		}
		.schBoard{
			float:right;
			margin-bottom:10px;
			input[type="text"]{
				width:135px;
			}
			input[type="submit"]{
				background-color:#777;
				border:none;
				color:#fff;
				padding:3px 8px 4px;
				
			}
		}
		.statusBoard{
			float:left;
			span{
				color:#df4502;
			}
			+ul{
			clear:both;
			}
		}
		.table{
			display:table;
			width:100%;
		//	margin-top:10px;=> float 되면 떠있는 것 처럼 보여 안 먹는다. 
			margin-bottom:30px;
			border-top:2px solid #3b6d78;
			.tableHeader{
				background-color:#eee;
			
			}
			.tableRow{
				display:table-row;
				.tbCell{
					display:table-cell;
					padding:7px 0px;
					border-bottom:1px solid #ddd;
					text-align:center;
					&.subject{
						text-align:left;
					}
				}
			}
		}
		.paging{
			text-align:center;
			margin-bottom:80px;
			.icoF_btnPrev:after{
				content:"\e811";
				font-size:14px;
				margin-right:10px;
			}
			.icoF_btnNext:after{
				content:"\e812";
				font-size:14px;
				margin-left:10px;

			}
			.pageNum{
				a, strong{
					display:inline-block;
					width:30px;
					height:30px;
					border:1px solid #ddd;
					line-height:30px;
				}
			}
		}
	}
}					

@media (max-width:800px){
	.col-tablet-1{width:8.3333%;}
	.col-tablet-2{width:(8.3333*2)+%;}
	.col-tablet-3{width:(8.3333*3)+%;}
	.col-tablet-4{width:(8.3333*4)+%;}
	.col-tablet-5{width:(8.3333*5)+%;}
	.col-tablet-6{width:(8.3333*6)+%;}
	.col-tablet-7{width:(8.3333*7)+%;}
	.col-tablet-8{width:(8.3333*8)+%;}
	.col-tablet-9{width:(8.3333*9)+%;}
	.col-tablet-10{width:(8.3333*10)+%;}
	.col-tablet-11{width:(8.3333*11)+%;}
	.col-tablet-12{width:100%;}
	

	.icoF_btnShowGnb{
		display:inline-block;
		&:focus {
			+ #gnb{
				right:0 !important;
			
			 + div{
				display:block;
				}
			}
		}
	}

	.dimGnb{
		position:fixed;
		width:100%;
		height:100%;
		left:0;
		top:0;
		background-color:rgba(0,0,0,0.8);
		z-index:20;
		display:none;
	}
	
	#gnb{
		transition:all 0.5s linear;
		position:fixed;
		top:0;
		right:-300px;
		height:100%;
		width:180px;
		z-index:21;
		background:#fff;
		border-left:0.1px solid #d8d8d8;
		box-shadow:-1px 0 5px rgba(0,0,0,0.5);
		>ul{
			overflow:auto;
			height:100%;
			>li{
				border-bottom:1px solid #d8d8d8;
			}
			ul{
				position:static;
				li{
					border-top:1px solid #d8d8d8;
					a{
						display:block;
						padding:8px 0 8px 17px;
					}
				}
			}
		}
	}
	#gnb li{
		float:none !important;
		margin:0 !important;
	}
	*[class*="mobile_"]{
		display:inline-block;
	}
	.mobile_gnbClose{
		position:absolute;
		left:-37px;
		top:0;
		width: 30px;
		height:30px;
		border-radius:4px;
		font-size:2em;
		text-align:center;
		line-height:100%;
		color:#f1f1f1;
		background-color:#25f;
		box-shadow:0 1px 3px rgba(0, 0, 0, 0.8);
	}
	#footer{
		width:auto;
	}
	.footerLogo + div{
		padding:30px 20px 0;
		text-align:center;
	}
	.footerLogo, .bottomMenu{
		display:none;
	}	
	
	/*서브영역*/
	#container.subPage{
		.subLeft{
			display:none;
		}
		.subRight{
			margin:0;
			width:auto;
			float:none;
			.table{

				display:block;
				.tableRow{
					display:block;
					overflow:hidden;
					
					.tbCell{
						display:block;
						border-bottom:none;
						&.num{
							display:none;
						}
						&.writer{
							float:left;
							font-weight:bold;
						}
						&.date{
							float:right;
						}
					}
				}
				.tableHeader{
					border-bottom:1px solid #ddd;
					.tbCell{
						display:none;
					}
					.tbCell:first-child + .tbCell{
						display:block;
					}
				}
				
			}
		}
	}
}

@media (max-width:480px){
	.col-mobile-1{width:8.3333%;}
	.col-mobile-2{width:(8.3333*2)+%;}
	.col-mobile-3{width:(8.3333*3)+%;}
	.col-mobile-4{width:(8.3333*4)+%;}
	.col-mobile-5{width:(8.3333*5)+%;}
	.col-mobile-6{width:(8.3333*6)+%;}
	.col-mobile-7{width:(8.3333*7)+%;}
	.col-mobile-8{width:(8.3333*8)+%;}
	.col-mobile-9{width:(8.3333*9)+%;}
	.col-mobile-10{width:(8.3333*10)+%;}
	.col-mobile-11{width:(8.3333*11)+%;}
	.col-mobile-12{width:100%;}
	#header h1{
		text-align:center;
		padding-top:15px;
	}
}

@media(min-width:32px){
	.pagePos{
	position:static;
 }

}